<li><a routerLink="/practice/html/roles" routerLinkActive="active">roles component</a></li>
<li><a routerLink="/practice/html/second" routerLinkActive="active">second component</a></li>
<button [routerLink]="['']" routerLinkActive="router-link-active">Homepage</button>
<button [routerLink]="['/practice/html/roles']" routerLinkActive="router-link-active">roles component</button>
<button [routerLink]="['/practice/html/second']" routerLinkActive="router-link-active">second component</button>
<router-outlet></router-outlet>
