<div class="link">
<a class="m-3" routerLink="/practice/html" routerLinkActive="active">HTML</a>
<a class="m-3" routerLink="/practice/xijie" routerLinkActive="active">Xijie</a>
<a class="m-3" routerLink="/practice/css" routerLinkActive="active">Css</a>
<a class="m-3" routerLink="/practice/array" routerLinkActive="active">array</a>
<a class="m-3" routerLink="/practice/if" routerLinkActive="active">if</a>
<a class="m-3" routerLink="/practice/api" routerLinkActive="active">API</a>
</div>
<router-outlet></router-outlet>
