.ground{
  background-color: pink;
  width: 250vw;
  height: 250vh;
}

.gif {
  background-image: url("https://cdn2.ettoday.net/images/1859/1859303.gif");
  background-repeat: no-repeat;
  background-color: white;
  width: 250px;
  height: 250px;
  position: fixed;
  top: 20px;
  right: 50px;
}

.back {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-powder-smoke-colorful-background-image_2164096.jpg");
  background-repeat: no-repeat;
  background-color: red;
  width: 600px;
  height: 600px;
}
